# TNP Portal
TNP_USERNAME=your_tnp_username_here
TNP_PASSWORD=your_tnp_password_here

# MongoDB
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=Cluster0
MONGO_DB_NAME=tnp_notifier

# WhatsApp Group target
WHATSAPP_GROUP_JID=123456789@g.us
